# Coverage.py is a tool for measuring code coverage of Python programs.
# for more info: https://coverage.readthedocs.io/en/latest/config.html
[run]
omit =
    wserver_cost_saver/docs/*
    wserver_cost_saver/tests/*
    wserver_cost_saver/vendor/*
    wserver_cost_saver/config/load.py
    wserver_cost_saver/config/backup.py
    wserver_cost_saver/iac/exports.py
    wserver_cost_saver/_version.py
    wserver_cost_saver/ops.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
